apiVersion: batch/v1
kind: CronJob
metadata:
  name: mysql-s3-backup
  namespace: mysql-s3-backup
spec:
  schedule: "*/2 * * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure

          initContainers:
          - name: wait-mysql
            image: busybox:1.36
            command:
              - sh
              - -c
              - until nc -z mysql-service 3306; do sleep 2; done

          containers:
          - name: backup
            image: bitnami/aws-cli:latest
            command: ["/bin/bash", "-c"]
            args:
              - |
                set -e

                echo "Starting MySQL backup..."

                TIMESTAMP=$(date +%Y%m%d_%H%M%S)
                FILE="backup_${TIMESTAMP}.sql.gz"

                mysqldump -h mysql-service \
                  -u"${MYSQL_USER}" \
                  -p"${MYSQL_PASSWORD}" \
                  "${MYSQL_DATABASE}" | gzip > /tmp/${FILE}

                echo "Upload to S3..."
                aws s3 cp /tmp/${FILE} s3://${S3_BUCKET_NAME}/mysql/${FILE}

                echo "Backup done"
            env:
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: username
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: password
            - name: MYSQL_DATABASE
              value: appdb
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: AWS_SECRET_ACCESS_KEY
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: AWS_DEFAULT_REGION
            - name: S3_BUCKET_NAME
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: S3_BUCKET_NAME